* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif; }

header nav .barra-superior {
  border-top: 0.312rem solid #572EE5;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  height: 5.937rem;
  padding: 0 1.625rem 0 1.375rem; }
  header nav .barra-superior a {
    text-decoration: none; }
  header nav .barra-superior h2 {
    font-family: 'Roboto';
    font-size: 15px;
    color: rgba(87, 46, 229, 0.9);
    z-index: 1;
    position: relative;
    top: -2.06rem;
    left: 0.5rem; }
  header nav .barra-superior .logo {
    height: 3.05rem;
    width: 3.05rem; }
  header nav .barra-superior .contenedor-barra-busq-nav {
    display: none;
    align-items: center;
    padding: 0 1.25rem 0 3.437rem;
    height: 3.125rem;
    width: 20.875rem;
    background: #FFFFFF;
    border: 1px solid #572EE5;
    border-radius: 1.687rem;
    margin: auto; }
    header nav .barra-superior .contenedor-barra-busq-nav .barra-busq-nav {
      display: flex;
      width: 16.187rem;
      justify-content: space-between;
      align-items: center;
      margin-top: 0px; }
      header nav .barra-superior .contenedor-barra-busq-nav .barra-busq-nav :first-child {
        display: flex; }
      header nav .barra-superior .contenedor-barra-busq-nav .barra-busq-nav img {
        display: block;
        width: 1.25rem;
        height: 1.25rem; }
  header nav .barra-superior #btn-close-nav {
    margin-right: -0.94rem; }
  header nav .barra-superior #search-nav {
    outline: none;
    height: 1.375rem;
    width: 13.437rem;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; }
  header nav .barra-superior #btn-search0-nav {
    display: none;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 0.12rem; }
  header nav .barra-superior .contenedor-menu .menu {
    height: 0.875rem;
    width: 0.937rem; }
  header nav .barra-superior .contenedor-menu #menu-btn {
    display: none; }
  header nav .barra-superior .contenedor-menu #menu-btn:checked ~ .menu-desplegable {
    display: block; }
  header nav .barra-superior .contenedor-menu .menu-desplegable {
    position: absolute;
    width: 100%;
    height: 40.25rem;
    background-color: rgba(87, 46, 229, 0.9);
    top: 5.6rem;
    left: 0px;
    z-index: 1;
    display: none; }
    header nav .barra-superior .contenedor-menu .menu-desplegable #btn-x {
      position: fixed;
      top: 2.5rem;
      right: 1.625rem;
      z-index: 2;
      background: white; }
    header nav .barra-superior .contenedor-menu .menu-desplegable dl {
      display: block;
      background-color: #ffffff;
      height: 0.062rem;
      width: 2.562rem;
      opacity: 0.5;
      margin: 0.687rem auto 0.868rem auto; }
  header nav .barra-superior .contenedor-menu div {
    padding-top: 2rem; }
    header nav .barra-superior .contenedor-menu div a {
      display: block;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 1.875rem;
      text-decoration: none; }
  header nav .barra-superior .contenedor-menu .crear-Gifos {
    display: none; }
header .aparece {
  transition: opacity .5s ease;
  opacity: 1; }
header .desaparece {
  transition: opacity 3s ease;
  opacity: 0; }
header .desaparece:hover {
  opacity: 1; }
header h1 {
  font-size: 1.562rem;
  color: #572EE5;
  text-align: center;
  line-height: 2.062rem;
  height: 6.75rem;
  width: 17.87rem;
  margin: 6.687rem auto 1.937rem auto; }
header span {
  color: #50E3C2; }
header .dibujo {
  display: block;
  width: 17.062rem;
  height: 8.125rem;
  margin: auto; }
header .contenedor-busqueda {
  display: flex;
  align-items: center;
  padding: 0 1.25rem 0 3.437rem;
  height: 3.125rem;
  width: 20.875rem;
  background: #FFFFFF;
  border: 1px solid #572EE5;
  border-radius: 1.687rem;
  margin: auto; }
  header .contenedor-busqueda .barra-busq {
    display: flex;
    width: 16.187rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px; }
    header .contenedor-busqueda .barra-busq :first-child {
      display: flex; }
  header .contenedor-busqueda #search {
    outline: none;
    height: 1.375rem;
    width: 13.437rem;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; }
  header .contenedor-busqueda img {
    display: block;
    width: 1.25rem;
    height: 1.25rem; }
  header .contenedor-busqueda #btn-search0 {
    display: none;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 0.12rem; }
  header .contenedor-busqueda .sugerencias {
    display: none;
    flex-direction: column;
    height: 8.44rem;
    justify-content: space-between;
    margin-top: 0.62rem; }
    header .contenedor-busqueda .sugerencias img {
      width: 1.25rem;
      height: 1.25rem; }
    header .contenedor-busqueda .sugerencias #br {
      background-color: #9CAFC3;
      width: 18.75rem;
      height: 0.06rem;
      opacity: 0.5; }
  header .contenedor-busqueda .contenedor-busquedaActiva {
    display: flex; }
    header .contenedor-busqueda .contenedor-busquedaActiva :first-child {
      margin: 0 0.91rem 0 0.94rem; }
    header .contenedor-busqueda .contenedor-busquedaActiva p {
      color: #9CAFC3; }
header .titulo-tred {
  height: 4.69rem;
  width: 14.06rem;
  font-size: 18px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  margin: 1.94rem auto 2.81rem auto;
  visibility: visible !important; }
  header .titulo-tred span {
    display: block;
    color: #572EE5;
    margin-top: 0.12rem;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px; }
header #busqueda {
  display: none;
  margin: 2.19rem 0 4.87rem 0; }
  header #busqueda .br {
    width: 9.81rem;
    height: 0.06rem;
    opacity: 0.5;
    border: 0.06rem solid #9CAFC3;
    margin: auto; }
  header #busqueda h2 {
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 40px;
    margin: 2.69rem 0 2.37rem 0; }
  header #busqueda .grilla-busqueda {
    display: grid;
    justify-content: center;
    max-height: 53.125rem;
    grid-template-columns: repeat(2, 9.75rem);
    grid-template-rows: repeat(6, 7.5rem);
    column-gap: 1.31rem;
    row-gap: 1.56rem; }
  header #busqueda #nuevagrilla {
    display: grid;
    justify-content: center;
    max-height: 53.125rem;
    grid-template-columns: repeat(2, 9.75rem);
    grid-template-rows: repeat(6, 7.5rem);
    column-gap: 1.31rem;
    row-gap: 1.56rem; }
  header #busqueda input {
    display: block;
    width: 7.94rem;
    height: 3.12rem;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 13px;
    color: #572EE5;
    background-color: white;
    outline: none;
    letter-spacing: 0;
    text-align: center;
    border: 0.06rem solid #572EE5;
    border-radius: 1.56rem;
    margin: auto; }
  header #busqueda input:hover {
    background: #572EE5;
    border-radius: 1.56rem;
    color: white; }
  header #busqueda #img-gif {
    width: 100%;
    height: 100%;
    object-fit: cover; }
header #busqueda-sinresultado {
  display: none;
  margin: 1.69rem 0 6.25rem 0; }
  header #busqueda-sinresultado img {
    display: block;
    margin: auto; }
  header #busqueda-sinresultado h3 {
    margin-top: 1.81rem;
    font-size: 22px;
    color: #50E3C2;
    text-align: center;
    line-height: 25px; }
header section {
  background: #F3F5F8;
  height: 26.87rem; }
  header section h2 {
    font-size: 25px;
    color: #572EE5;
    text-align: center;
    line-height: 30px;
    padding: 2.87rem 0 0.44rem 0; }
  header section p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 23px;
    margin-bottom: 2rem; }
  header section img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  header section .contenedor-slider .botones-slider {
    display: none; }
  header section .contenedor-slider .contenedor-treding {
    display: flex;
    column-gap: 22px;
    max-width: 16.5rem;
    height: 11.69rem;
    width: 75%;
    margin: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory; }
    header section .contenedor-slider .contenedor-treding #contenedor-Gif-treding {
      min-width: 100%;
      scroll-snap-align: center; }
      header section .contenedor-slider .contenedor-treding #contenedor-Gif-treding #fav-tred img, header section .contenedor-slider .contenedor-treding #contenedor-Gif-treding #desc-tred img, header section .contenedor-slider .contenedor-treding #contenedor-Gif-treding #max-tred img {
        visibility: hidden; }
  header section .contenedor-slider .contenedor-treding::-webkit-scrollbar {
    display: none; }
  header section .contenedor-slider {
    -ms-overflow-style: none; }

.card-hover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%; }
  .card-hover div {
    display: flex;
    padding: 0.32rem 0.32rem 0 0;
    width: 7.5rem;
    justify-content: space-between;
    align-self: flex-end; }
    .card-hover div a {
      display: none;
      opacity: 0.7;
      background: #FFFFFF;
      border-radius: 0.375rem;
      width: 2rem;
      height: 2rem;
      z-index: 2; }
      .card-hover div a img {
        z-index: 2;
        margin: auto;
        visibility: visible !important; }
      .card-hover div a img:nth-child(1) {
        height: 1rem;
        width: 1.125rem; }
      .card-hover div a img:nth-child(2) {
        height: 1.125rem;
        width: 1rem; }
      .card-hover div a img:nth-child(3) {
        height: 1.062rem;
        width: 1.062rem; }
    .card-hover div a:hover {
      opacity: 1; }
  .card-hover div:nth-child(2) {
    display: none;
    flex-direction: column;
    width: 100%; }
    .card-hover div:nth-child(2) p {
      margin: 0;
      text-align: left;
      z-index: 2;
      font-family: 'Roboto';
      font-weight: 400;
      padding-left: 0.5rem;
      font-size: 11px;
      color: #FFFFFF; }
    .card-hover div:nth-child(2) h6 {
      z-index: 2;
      font-family: 'Roboto';
      font-weight: 900;
      max-height: 1.25rem;
      width: 100%;
      font-size: 12px;
      color: #FFFFFF;
      padding: 0 0 1.56rem 0.5rem; }
  .card-hover #img-gif-tred, .card-hover #img-gif {
    position: absolute;
    top: 0px;
    left: 0px; }

.card-hover:hover:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #572EE5;
  opacity: 0.6;
  z-index: 1;
  position: absolute; }

.card-hover:hover a, .card-hover:hover :nth-child(2) {
  display: flex; }

@media (min-width: 768px) {
  header nav .barra-superior {
    padding: 0 9.75rem 0 9.75rem; }
    header nav .barra-superior .logo {
      height: 3.69rem;
      width: 3.69rem; }
    header nav .barra-superior .contenedor-menu {
      display: flex;
      height: 5.625rem;
      justify-content: space-between; }
      header nav .barra-superior .contenedor-menu .menu {
        display: none; }
      header nav .barra-superior .contenedor-menu .menu-desplegable {
        display: flex !important;
        position: relative;
        top: 0;
        height: 5.625rem;
        width: 23.156rem;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.5); }
        header nav .barra-superior .contenedor-menu .menu-desplegable dl {
          display: none; }
      header nav .barra-superior .contenedor-menu div a {
        display: block;
        height: 27px;
        font-size: 14px;
        font-weight: 700;
        color: #572EE5;
        letter-spacing: 0;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer; }
      header nav .barra-superior .contenedor-menu div a:hover {
        border-bottom: 0.125rem solid #5ED7C6; }
      header nav .barra-superior .contenedor-menu div a:active {
        color: #9CAFC3;
        border: none; }
      header nav .barra-superior .contenedor-menu .crear-Gifos {
        display: block;
        border: 0.06rem solid #572EE5;
        height: 3.375rem;
        width: 3.375rem;
        border-radius: 1.687rem;
        margin: 1.125rem 0 0 3.31rem; }
        header nav .barra-superior .contenedor-menu .crear-Gifos div {
          display: flex;
          justify-content: center;
          padding: 0px; }
          header nav .barra-superior .contenedor-menu .crear-Gifos div span {
            margin-top: 1.625rem;
            width: 1rem;
            height: 0.125rem;
            background-color: #572EE5; }
          header nav .barra-superior .contenedor-menu .crear-Gifos div :last-child {
            position: absolute;
            height: 1rem;
            width: 0.125rem;
            margin-top: 1.187rem; }
      header nav .barra-superior .contenedor-menu .crear-Gifos:hover {
        background: #572EE5;
        border-radius: 1.687rem; }
        header nav .barra-superior .contenedor-menu .crear-Gifos:hover span {
          background-color: white; }
      header nav .barra-superior .contenedor-menu .crear-Gifos:active {
        border: 1px solid #9CAFC3;
        background: #9CAFC3;
        border-radius: 1.687rem; }
        header nav .barra-superior .contenedor-menu .crear-Gifos:active span {
          background-color: white; }
    header nav .barra-superior h2 {
      font-size: 18px;
      top: -2.5rem;
      left: 0.937rem; }
    header nav .barra-superior .logo {
      height: 3.75rem;
      width: 4.25rem;
      margin-top: 1.125rem; }
  header h1 {
    width: 39.625rem;
    height: 6.25rem;
    margin: 10.31rem auto 1.56rem auto;
    font-size: 40px;
    line-height: 50px; }
  header .contenedor-busqueda {
    height: 3.15rem;
    width: 34.44rem; }
    header .contenedor-busqueda .barra-busq {
      width: 29.81rem; }
      header .contenedor-busqueda .barra-busq :first-child {
        display: flex; }
    header .contenedor-busqueda .sugerencias {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 0.625rem; }
      header .contenedor-busqueda .sugerencias #br {
        width: 31.56rem; }
  header .titulo-tred {
    margin: 4.56rem auto 5.94rem auto;
    height: 3.125rem;
    width: 25.125rem; }
    header .titulo-tred p {
      margin-top: 0.437rem;
      width: 25.125rem;
      font-size: 16px; }
  header #busqueda {
    display: none;
    margin: 3.437rem 0 4.937rem 0; }
    header #busqueda #tituloBusqueda {
      font-size: 35px;
      line-height: 30px;
      margin: 5.12rem 0 3.75rem 0; }
    header #busqueda .grilla-busqueda {
      max-height: 41.25rem;
      justify-content: center;
      grid-template-columns: repeat(4, 16.25rem);
      grid-template-rows: repeat(3, 12.5rem);
      column-gap: 1.78rem;
      row-gap: 1.78rem; }
    header #busqueda #nuevagrilla {
      max-height: 41.25rem;
      justify-content: center;
      grid-template-columns: repeat(4, 16.25rem);
      grid-template-rows: repeat(3, 12.5rem);
      column-gap: 1.78rem;
      row-gap: 1.78rem; }
  header #busqueda-sinresultado {
    margin-bottom: 9.31rem; }
  header .dibujo {
    width: 24.94rem;
    height: 11.875rem; }
  header section {
    height: 40rem; }
    header section h2 {
      font-size: 30px;
      padding: 5.58rem 0 0.75rem 0; }
    header section p {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 3.31rem; }
      header section p br {
        display: none; }
    header section .contenedor-slider {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: visible; }
      header section .contenedor-slider .contenedor-treding {
        display: flex;
        max-width: 70.625rem;
        height: 17.187rem;
        padding-left: 2rem;
        padding-right: 2rem;
        column-gap: 1.81rem;
        margin: 0; }
        header section .contenedor-slider .contenedor-treding #contenedor-Gif-treding {
          min-width: calc(100%/3);
          height: 100%; }
      header section .contenedor-slider .botones-slider {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.75rem 0.937rem;
        border: 0.06rem solid #572EE5; }
      header section .contenedor-slider #prev {
        margin-right: 1.375rem;
        cursor: pointer; }
      header section .contenedor-slider #next {
        margin-left: 1.375rem;
        cursor: pointer; }
      header section .contenedor-slider .botones-slider:hover {
        background: #572EE5; }
        header section .contenedor-slider .botones-slider:hover svg path {
          fill: #FFFFFF; }

  .card-hover div {
    padding: 0.625rem 0.625rem 0 0; }
  .card-hover div:nth-child(2) p {
    font-size: 0.937rem;
    padding-left: 0.75rem; }
  .card-hover div:nth-child(2) h6 {
    max-height: 2.5rem;
    font-size: 16px;
    padding: 0.31rem 0 1.25rem 0.75rem; } }
header .img-favoritos {
  display: block;
  margin: 6.25rem auto 0.437rem auto; }
header .h2-favoritos {
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 1.875rem;
  margin-bottom: 2.875rem; }
header #favoritos {
  display: none; }
  header #favoritos .grilla-favoritos {
    display: grid;
    justify-content: center;
    max-height: 52.312rem;
    grid-template-columns: repeat(2, 9.75rem);
    grid-template-rows: repeat(6, 7.5rem);
    column-gap: 1.312rem;
    row-gap: 1.562rem;
    margin-bottom: 1.562rem; }
  header #favoritos #nuevagrilla-favoritos {
    display: grid;
    justify-content: center;
    max-height: 52.312rem;
    grid-template-columns: repeat(2, 9.75rem);
    grid-template-rows: repeat(6, 7.5rem);
    column-gap: 1.312rem;
    row-gap: 1.562rem;
    margin-bottom: 1.562rem; }
  header #favoritos input {
    display: block;
    width: 7.937rem;
    height: 3.125rem;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 13px;
    color: #572EE5;
    background-color: white;
    outline: none;
    letter-spacing: 0;
    text-align: center;
    border: 0.0625rem solid #572EE5;
    border-radius: 1.562rem;
    margin: 4.875rem auto 4.875rem auto; }
  header #favoritos input:hover {
    background: #572EE5;
    border-radius: 1.562rem;
    color: white; }
  header #favoritos #img-gif {
    width: 100%;
    height: 100%;
    object-fit: cover; }
header #favoritos-sincontenido {
  display: none;
  margin: 3.125rem 0 8.562rem 0; }
  header #favoritos-sincontenido div {
    height: 9.375rem;
    width: 9.375rem;
    border-radius: 9.375rem;
    background: #F3F5F8;
    margin: auto; }
  header #favoritos-sincontenido img {
    display: block;
    margin: auto;
    padding-top: 2.981rem; }
  header #favoritos-sincontenido h2 {
    margin-top: 1.5rem;
    font-size: 22px;
    color: #50E3C2;
    text-align: center;
    line-height: 2.062rem; }

@media (min-width: 768px) {
  header .contenedor-menu .favorito-activo {
    color: #9CAFC3 !important; }
  header .h2-favoritos {
    font-size: 1.562rem; }
  header #favoritos .grilla-favoritos {
    max-height: 41.25rem;
    justify-content: center;
    grid-template-columns: repeat(4, 16.25rem);
    grid-template-rows: repeat(3, 12.5rem);
    column-gap: 1.78rem;
    row-gap: 1.78rem;
    margin-bottom: 1.78rem; }
  header #favoritos #nuevagrilla-favoritos {
    max-height: 41.25rem;
    justify-content: center;
    grid-template-columns: repeat(4, 16.25rem);
    grid-template-rows: repeat(3, 12.5rem);
    column-gap: 1.78rem;
    row-gap: 1.78rem;
    margin-bottom: 1.78rem; }
  header #favoritos-sincontenido {
    margin-top: 6.875rem; } }
header #contenedor-gifMax {
  display: none;
  flex-direction: column;
  max-width: 19.875rem;
  margin: 6.25rem auto 1.62rem auto; }
  header #contenedor-gifMax .botones-slider {
    display: none; }
  header #contenedor-gifMax .img-close {
    align-self: flex-end;
    margin-bottom: 1.56rem; }
  header #contenedor-gifMax #contenedorGif #img-gifMax {
    width: 100%;
    height: 15.31rem;
    object-fit: cover; }
  header #contenedor-gifMax #contenedorGif .sub-contenedorGif {
    display: flex;
    justify-content: space-between;
    height: 3.06rem;
    padding-top: 0.875rem; }
    header #contenedor-gifMax #contenedorGif .sub-contenedorGif #textGifMax p {
      height: 1.125rem;
      max-width: 5.62rem;
      padding-bottom: 0.375rem;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 15px;
      color: #000000; }
    header #contenedor-gifMax #contenedorGif .sub-contenedorGif #textGifMax h6 {
      height: 1.187rem;
      max-width: 13.125rem;
      font-size: 16px;
      color: #000000;
      font-family: 'Roboto';
      font-weight: 900; }
    header #contenedor-gifMax #contenedorGif .sub-contenedorGif #linksGifMax {
      align-self: center;
      display: flex;
      width: 4.375rem;
      justify-content: space-between; }
      header #contenedor-gifMax #contenedorGif .sub-contenedorGif #linksGifMax a:first-child {
        display: block;
        padding-top: 0.5rem; }
        header #contenedor-gifMax #contenedorGif .sub-contenedorGif #linksGifMax a:first-child img {
          width: 1.25rem;
          height: 1.125rem; }
      header #contenedor-gifMax #contenedorGif .sub-contenedorGif #linksGifMax a:last-child {
        display: block;
        width: 2.25rem;
        height: 2.25rem;
        opacity: 0.5;
        border: 1px solid #CED7E1;
        border-radius: 0.375rem; }
        header #contenedor-gifMax #contenedorGif .sub-contenedorGif #linksGifMax a:last-child img {
          padding-top: 0.5rem;
          display: block;
          margin: auto;
          opacity: 0.5; }

@media (min-width: 768px) {
  header #contenedor-gifMax {
    max-width: 54.375rem;
    margin: 6.56rem auto 4.06rem auto; }
    header #contenedor-gifMax .img-close {
      margin-bottom: 1.25rem; }
    header #contenedor-gifMax .vista-Max {
      display: flex; }
      header #contenedor-gifMax .vista-Max div:first-child {
        margin-right: 1.56rem; }
      header #contenedor-gifMax .vista-Max div:last-child {
        margin-left: 1.56rem; }
      header #contenedor-gifMax .vista-Max .botones-slider {
        display: block;
        align-self: center;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.75rem 0.937rem;
        border: 0.06rem solid #572EE5; }
      header #contenedor-gifMax .vista-Max .botones-slider:hover {
        background: #572EE5; }
        header #contenedor-gifMax .vista-Max .botones-slider:hover svg path {
          fill: #FFFFFF; }
      header #contenedor-gifMax .vista-Max #contenedorGif {
        min-width: 43.437rem; }
        header #contenedor-gifMax .vista-Max #contenedorGif #img-gifMax {
          width: 100%;
          height: 24.06rem;
          object-fit: cover; }
        header #contenedor-gifMax .vista-Max #contenedorGif .sub-contenedorGif {
          padding-top: 1.687rem; }
          header #contenedor-gifMax .vista-Max #contenedorGif .sub-contenedorGif #linksGifMax {
            align-self: center;
            display: flex;
            width: 5.31rem;
            justify-content: space-between; }
            header #contenedor-gifMax .vista-Max #contenedorGif .sub-contenedorGif #linksGifMax a:first-child {
              border: 0.06rem solid #CED7E1;
              border-radius: 0.375rem;
              width: 2.25rem;
              height: 2.25rem; }
              header #contenedor-gifMax .vista-Max #contenedorGif .sub-contenedorGif #linksGifMax a:first-child img {
                display: block;
                margin: auto; } }
footer {
  height: 196px;
  border-bottom: 5px solid #572EE5; }
  footer .compartir p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
    padding: 47px 0 24px 0; }
  footer .compartir .redes {
    display: flex;
    justify-content: center;
    margin-bottom: 47.8px; }
    footer .compartir .redes a {
      display: block;
      padding-right: 18px; }
    footer .compartir .redes :last-child {
      padding-right: 0; }
    footer .compartir .redes .icon:hover #ig, footer .compartir .redes .icon:hover #face, footer .compartir .redes .icon:hover #tr {
      fill: #572EE5; }
  footer .copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center; }

@media (min-width: 768px) {
  footer {
    height: 116px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 156px 0 156px; }
    footer .compartir {
      width: 192px;
      display: flex;
      justify-content: space-between; }
      footer .compartir p {
        font-size: 13px;
        padding: 0px; }
      footer .compartir .redes {
        margin: 0px; }
    footer .copyright {
      font-size: 13px; } }
.modo-nocturno body {
  background-color: #37383C; }
  .modo-nocturno body header nav .barra-superior {
    background-color: #37383C;
    border-top: 0.31rem solid #000000; }
    .modo-nocturno body header nav .barra-superior h2 {
      background-color: #37383C;
      color: #FFFFFF; }
    .modo-nocturno body header nav .barra-superior .contenedor-barra-busq-nav {
      border: 0.06rem solid white;
      background-color: #37383C; }
      .modo-nocturno body header nav .barra-superior .contenedor-barra-busq-nav #search-nav {
        background-color: #37383C;
        color: white; }
      .modo-nocturno body header nav .barra-superior .contenedor-barra-busq-nav svg path {
        fill: white; }
      .modo-nocturno body header nav .barra-superior .contenedor-barra-busq-nav svg use {
        fill: white; }
    .modo-nocturno body header nav .barra-superior .contenedor-menu .menu-desplegable {
      background-color: black; }
      @media (min-width: 768px) {
        .modo-nocturno body header nav .barra-superior .contenedor-menu .menu-desplegable {
          background-color: #37383C; } }
    .modo-nocturno body header nav .barra-superior .contenedor-menu ul li a {
      color: #FFFFFF; }
    .modo-nocturno body header nav .barra-superior .contenedor-menu ul li a:active {
      color: #9CAFC3;
      border: none; }
    .modo-nocturno body header nav .barra-superior .contenedor-menu #btn-burger {
      fill: #FFFFFF; }
    .modo-nocturno body header nav .barra-superior .contenedor-menu #btn-x {
      background: #37383C; }
    .modo-nocturno body header nav .barra-superior .contenedor-menu #button-close {
      fill: white; }
    .modo-nocturno body header nav .barra-superior .contenedor-menu .crear-Gifos {
      border: 0.06rem solid #FFFFFF; }
      .modo-nocturno body header nav .barra-superior .contenedor-menu .crear-Gifos span {
        background-color: white; }
    .modo-nocturno body header nav .barra-superior .contenedor-menu .crear-Gifos:hover {
      background: #FFFFFF;
      border-radius: 1.687rem; }
      .modo-nocturno body header nav .barra-superior .contenedor-menu .crear-Gifos:hover span {
        background-color: black; }
    .modo-nocturno body header nav .barra-superior .contenedor-menu .crear-Gifos:active {
      border: 0.06rem solid #9CAFC3;
      background: #9CAFC3;
      border-radius: 1.687rem; }
      .modo-nocturno body header nav .barra-superior .contenedor-menu .crear-Gifos:active span {
        background-color: white; }
  .modo-nocturno body header h1, .modo-nocturno body header h3, .modo-nocturno body header p {
    color: white; }
  .modo-nocturno body header .contenedor-busqueda {
    border: 0.06rem solid white;
    background-color: #37383C; }
    .modo-nocturno body header .contenedor-busqueda #search {
      background-color: #37383C;
      color: white; }
    .modo-nocturno body header .contenedor-busqueda svg path {
      fill: white; }
    .modo-nocturno body header .contenedor-busqueda svg use {
      fill: white; }
  .modo-nocturno body header #busqueda h2 {
    color: white; }
  .modo-nocturno body header #busqueda input {
    background: #37383C;
    color: white;
    border: 0.06rem solid #FFFFFF; }
  .modo-nocturno body header #busqueda input:hover {
    color: black;
    background: #FFFFFF;
    border-radius: 1.562rem; }
  .modo-nocturno body header section {
    background-color: #222326; }
    .modo-nocturno body header section h2 {
      color: #FFFFFF; }
  .modo-nocturno body header .contenedor-slider .botones-slider {
    border: 0.06rem solid #ffffff;
    background: #222326; }
    .modo-nocturno body header .contenedor-slider .botones-slider svg path {
      fill: #FFFFFF; }
  .modo-nocturno body header .contenedor-slider .botones-slider:hover {
    background: #FFFFFF; }
    .modo-nocturno body header .contenedor-slider .botones-slider:hover svg path {
      fill: #000000; }
  .modo-nocturno body header #contenedor-gifMax #contenedorGif .sub-contenedorGif #textGifMax p, .modo-nocturno body header #contenedor-gifMax #contenedorGif .sub-contenedorGif #textGifMax h6 {
    color: white; }
  .modo-nocturno body header #contenedor-gifMax svg path {
    fill: white; }
  .modo-nocturno body header #contenedor-gifMax .vista-Max .botones-slider {
    border: 0.06rem solid white; }
  .modo-nocturno body header #contenedor-gifMax .vista-Max .botones-slider:hover {
    background: white; }
    .modo-nocturno body header #contenedor-gifMax .vista-Max .botones-slider:hover svg path {
      fill: black; }
  .modo-nocturno body header .h2-favoritos {
    color: white; }
  .modo-nocturno body header #favoritos input {
    background: #37383C;
    color: white;
    border: 0.06rem solid #FFFFFF; }
  .modo-nocturno body header #favoritos input:hover {
    color: black;
    background: #FFFFFF;
    border-radius: 1.562rem; }
  .modo-nocturno body header .h2-misGifos {
    color: white; }
  .modo-nocturno body header #misGifos input {
    background: #37383C;
    color: white;
    border: 0.06rem solid #FFFFFF; }
  .modo-nocturno body header #misGifos input:hover {
    color: black;
    background: #FFFFFF;
    border-radius: 1.562rem; }
  .modo-nocturno body header #crear1 .titulo1, .modo-nocturno body header #crear1 p, .modo-nocturno body header #crear2 .titulo1, .modo-nocturno body header #crear2 p {
    color: white; }
  .modo-nocturno body header #botones-pag div {
    background: #37383C;
    color: white;
    border: 0.06rem solid #FFFFFF; }
  .modo-nocturno body header #botones-pag div:hover {
    color: black;
    background: #FFFFFF;
    border-radius: 1.562rem; }
  .modo-nocturno body header .btn-activos {
    background: #FFFFFF !important;
    color: black !important; }
  .modo-nocturno body header #comenzar, .modo-nocturno body header #grabar, .modo-nocturno body header #finalizar, .modo-nocturno body header #subirGifo {
    background: #37383C;
    color: white;
    border: 0.06rem solid #FFFFFF; }
  .modo-nocturno body header #comenzar:hover, .modo-nocturno body header #grabar:hover, .modo-nocturno body header #finalizar:hover, .modo-nocturno body header #subirGifo:hover {
    color: black;
    background: #FFFFFF;
    border-radius: 1.562rem; }
  .modo-nocturno body header #contador, .modo-nocturno body header #repetirCap {
    color: #FFFFFF; }
  .modo-nocturno body footer {
    border-bottom: 5px solid #000000; }
    .modo-nocturno body footer .compartir p {
      color: white; }
    .modo-nocturno body footer .redes .icon:hover #ig, .modo-nocturno body footer .redes .icon:hover #face, .modo-nocturno body footer .redes .icon:hover #tr {
      fill: white; }
    .modo-nocturno body footer .copyright {
      color: white; }

header .img-misGifos {
  display: block;
  margin: 6.25rem auto 0.506rem auto; }
header .h2-misGifos {
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 1.875rem;
  margin-bottom: 2.25rem; }
header #misGifos {
  display: none; }
  header #misGifos .grilla-misGifos {
    display: grid;
    justify-content: center;
    max-height: 52.312rem;
    grid-template-columns: repeat(2, 9.75rem);
    grid-template-rows: repeat(4, 7.5rem);
    column-gap: 1.31rem;
    row-gap: 1.56rem;
    margin-bottom: 1.56rem; }
  header #misGifos #nuevagrilla-misGifos {
    display: grid;
    justify-content: center;
    max-height: 52.312rem;
    grid-template-columns: repeat(2, 9.75rem);
    grid-template-rows: repeat(4, 7.5rem);
    column-gap: 1.31rem;
    row-gap: 1.56rem;
    margin-bottom: 1.56rem; }
  header #misGifos input {
    display: block;
    width: 7.937rem;
    height: 3.125rem;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 13px;
    color: #572EE5;
    background-color: white;
    outline: none;
    letter-spacing: 0;
    text-align: center;
    border: 0.0625rem solid #572EE5;
    border-radius: 1.562rem;
    margin: 4.875rem auto 4.875rem auto; }
  header #misGifos input:hover {
    background: #572EE5;
    border-radius: 1.56rem;
    color: white; }
  header #misGifos #img-gif {
    width: 100%;
    height: 100%;
    object-fit: cover; }
header #misGifos-sincontenido {
  display: none;
  margin: 3.125rem 0 8.562rem 0; }
  header #misGifos-sincontenido img {
    display: block;
    margin: auto; }
  header #misGifos-sincontenido h2 {
    margin-top: 2.5rem;
    font-size: 22px;
    color: #50E3C2;
    text-align: center;
    line-height: 2.062rem; }

@media (min-width: 768px) {
  header .contenedor-menu .misGifos-activo {
    color: #9CAFC3 !important; }
  header #misGifos .grilla-misGifos {
    max-height: 41.25rem;
    justify-content: center;
    grid-template-columns: repeat(4, 16.25rem);
    grid-template-rows: repeat(2, 12.5rem);
    column-gap: 1.81rem;
    row-gap: 2.187rem;
    margin-bottom: 2.187rem; }
  header #misGifos #nuevagrilla-misGifos {
    max-height: 41.25rem;
    justify-content: center;
    grid-template-columns: repeat(4, 16.25rem);
    grid-template-rows: repeat(2, 12.5rem);
    column-gap: 1.81rem;
    row-gap: 2.187rem;
    margin-bottom: 2.187rem; }
  header #misGifos-sincontenido {
    margin-top: 8.5rem; } }
header .contenedor-menu .crearGifos-activo {
  display: block;
  border: 1px solid #9CAFC3;
  background: #9CAFC3;
  border-radius: 1.687rem;
  height: 3.375rem;
  width: 3.375rem;
  border-radius: 1.687rem;
  margin: 1.125rem 0 0 3.31rem; }
  header .contenedor-menu .crearGifos-activo div {
    display: flex;
    justify-content: center;
    padding-top: 0px !important; }
    header .contenedor-menu .crearGifos-activo div span {
      margin-top: 1.625rem;
      width: 1rem;
      height: 0.125rem;
      background-color: white; }
    header .contenedor-menu .crearGifos-activo div :last-child {
      position: absolute;
      height: 1rem;
      width: 0.125rem;
      margin-top: 1.187rem; }
header #crearPrincipal {
  position: relative;
  border: 1px solid #572EE5;
  width: 43rem;
  height: 25.8rem;
  margin: 6.5rem auto 1.5rem auto; }
  header #crearPrincipal #crear1 {
    display: block; }
  header #crearPrincipal #crear2 {
    display: none; }
  header #crearPrincipal #crear3 {
    display: none;
    margin: auto;
    width: 480px;
    height: 320px;
    flex-direction: column;
    justify-content: space-between;
    position: relative; }
    header #crearPrincipal #crear3 #videoGif {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%; }
    header #crearPrincipal #crear3 #previewGif {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%; }
  header #crearPrincipal .titulo1 {
    width: 34.375rem;
    height: 4.375rem;
    font-size: 1.56rem;
    color: #572EE5;
    text-align: center;
    line-height: 35px;
    margin: 5.56rem auto 0 auto; }
  header #crearPrincipal span {
    color: #50E3C2; }
  header #crearPrincipal .p1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 1.81rem;
    margin: 0.187rem auto 6.5rem auto; }
  header #crearPrincipal .bordesSup {
    display: flex;
    justify-content: space-between;
    margin: 1.25rem 1.25rem 0 1.25rem; }
  header #crearPrincipal .bordesInf {
    display: flex;
    justify-content: space-between;
    margin: 0 1.25rem 1.25rem 1.25rem; }
  header #crearPrincipal .bordes {
    width: 1.687rem;
    height: 1.56rem;
    border-top: 0.06rem solid #50E3C2;
    border-left: 0.06rem solid #50E3C2; }
  header #crearPrincipal .uno {
    transform: rotate(-270deg); }
  header #crearPrincipal .dos {
    transform: rotate(-90deg); }
  header #crearPrincipal .tres {
    transform: rotate(-180deg); }
  header #crearPrincipal .contenedor-camaraActiva::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #572EE5;
    opacity: 0.6;
    z-index: 1;
    position: absolute; }
  header #crearPrincipal #subiendoGif {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 100%; }
    header #crearPrincipal #subiendoGif img {
      width: 1.375rem;
      height: 1.375rem; }
    header #crearPrincipal #subiendoGif p {
      font-size: 15px;
      color: #FFFFFF;
      text-align: center;
      font-weight: 900;
      margin-top: 10px; }
  header #crearPrincipal #gifSubido {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative; }
    header #crearPrincipal #gifSubido img {
      width: 1.5rem;
      height: 1.5rem; }
    header #crearPrincipal #gifSubido p {
      font-size: 15px;
      color: #FFFFFF;
      text-align: center;
      font-weight: 900;
      margin-top: 0.625rem; }
    header #crearPrincipal #gifSubido div {
      display: flex;
      padding: 0.687rem 0.75rem 0 0;
      width: 5.375rem;
      justify-content: space-between;
      align-self: flex-end;
      position: absolute;
      top: 0; }
      header #crearPrincipal #gifSubido div a {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.7;
        background: #FFFFFF;
        border-radius: 0.375rem;
        width: 2rem;
        height: 2rem;
        z-index: 2; }
      header #crearPrincipal #gifSubido div #desc img {
        height: 1.125rem;
        width: 1rem; }
      header #crearPrincipal #gifSubido div #link {
        opacity: 1; }
        header #crearPrincipal #gifSubido div #link img {
          height: 1.25rem;
          width: 1.25rem; }
  header #crearPrincipal .dibujoCamara {
    position: absolute;
    top: 9.375rem;
    left: -21.875rem; }
    header #crearPrincipal .dibujoCamara #elemento1-cam {
      width: 3.25rem;
      height: 3.25rem;
      transform: translate(7.5rem, -8.125rem); }
    header #crearPrincipal .dibujoCamara #elemento2-cam {
      width: 4.375rem;
      height: 4.375rem;
      transform: translate(7.375rem, -8.125rem); }
    header #crearPrincipal .dibujoCamara #elemento3-cam {
      width: 7.687rem;
      height: 10.125rem; }
    header #crearPrincipal .dibujoCamara #elemento4-cam {
      width: 5.687rem;
      height: 9.437rem;
      transform: translate(-0.156rem, -2.187rem); }
  header #crearPrincipal #elemento5-cam {
    position: absolute;
    top: 23.125rem;
    left: 46.875rem;
    width: 8.875rem;
    height: 5.5rem; }
header #botones-pag {
  width: 9.187rem;
  margin: 0 auto 1.187rem auto;
  display: flex;
  justify-content: space-between; }
  header #botones-pag div {
    width: 2rem;
    height: 2rem;
    border: 0.06rem solid #572EE5;
    border-radius: 2rem;
    font-size: 18px;
    color: #572EE5;
    text-align: center;
    padding-top: 0.3rem; }
  header #botones-pag div:hover {
    background: #572EE5;
    border-radius: 1.56rem;
    color: white; }
header .btn-activos {
  background: #572EE5;
  color: white !important; }
header #contadorGrab {
  position: absolute;
  top: 27.25rem;
  left: 34.875rem;
  width: 8.187rem;
  font-weight: 900; }
  header #contadorGrab :first-child {
    display: none;
    font-size: 15px;
    color: #572EE5;
    letter-spacing: 0;
    text-align: right;
    line-height: 22px; }
  header #contadorGrab :last-child {
    display: none;
    font-size: 13px;
    color: #572EE5;
    letter-spacing: 0;
    text-align: center;
    border-bottom: 2px solid #5ED7C6;
    cursor: pointer; }
header .lineaCGif {
  width: 49.75rem;
  height: 0.437rem;
  background: #572EE5;
  margin: auto;
  border-radius: 0.437rem; }
header button {
  display: block;
  width: 7.937rem;
  height: 3.125rem;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 13px;
  color: #572EE5;
  background-color: white;
  outline: none;
  letter-spacing: 0;
  text-align: center;
  border: 0.06rem solid #572EE5;
  border-radius: 1.56rem;
  margin: 1.25rem auto 1.62rem auto; }
header button:hover {
  background: #572EE5;
  border-radius: 1.56rem;
  color: white;
  cursor: pointer; }
header #grabar {
  display: none; }
header #finalizar {
  display: none; }
header #subirGifo {
  display: none; }

/*# sourceMappingURL=style.css.map */
